<div class="container">
    <div class="page-header">
        <h2>
        Songs
        </h2>
    </div>
    
    <div class="row">
        <div class="list-group">
            <a class="list-group-item track" ng-repeat="song in songs" ng-link="['SongDetail', {id: song.id}]">
                <div class="row">

                    <div class="col-md-1 col-xs-1">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    
                    <div class="col-md-3 col-xs-3">
                        <b>{{song.track}}</b>
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <b>{{song.artist}}</b>
                    </div>

                    <div class="col-md-3 col-xs-3">
                        <b>{{song.album}}</b>
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <b>{{song.year}}</b>
                    </div>

                    <div class="col-md-1 col-xs-1">
                    
                        <span class="glyphicon glyphicon-option-horizontal"></span>

                    </div>
                </div>
                
            </a>
        </div>
    </div>
</div>

