@import 'variables';

.no-padding {
   padding: 0 !important;
}

.no-margin {
   margin: 0 !important;
}


body {
    margin-top: @extra-large;
    background-color: @background;
}


nav
{
	background-color: @background;
}

a 
{
	  text-decoration: none!important;
}

.loading {
    text-align: center;
    color: @text-general;
}

h2
{
	font-size: @x-large;
	font-weight: @font-weight-h2;
	color:@titles-general;
	letter-spacing:  @letter-title-spacing;

}





//Jumbotron

.jumbotron
{
	margin-top: @margin-sm;

}


//playlist

.search-input
{
  

	    border-radius: @border-radius;
	    border: none;
	    background: white;
	    color: @background;
	    vertical-align: middle;	   
	    outline: none;
	    background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/search-25.png");
	    background-repeat: no-repeat;
	    background-size: 10%;
	    background-position: @margin-xs;
	    padding-bottom: @padding-xs;
	    padding-left: @padding-lg;
	    padding-top:@padding-xs;
		margin-top:@margin-xs;
	    margin-left: @margin-sm;

}


.page-header
{
	border:0px;
	.no-margin;


}

.col-centered{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.search-box
{
	align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding:@padding-sm;
	
}

.track
{
	border-top: @border-size-small solid @border;
	align-items: center;
	color : @text-general!important;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	background-color:transparent;


   	&:hover {
      
       background-color:@border-hover-list!important;
       
    }



    .track-index:hover
	{
    	 background-repeat: no-repeat;
	}

	.more
	{
		color:@text-general
	}

 

}



.track-playing {
    display: flex;
    flex-flow: column wrap;

    .track-playing-name
    {
		
    }

    .track-playing-artist
    {
		font-size: @font-size-base / 1.2
    }
}

.controlers
{
		color:@text-general;
		-webkit-transition: all .2s ease-in-out; 
		padding-right:@padding-xs;
		padding-left:@padding-xs;
		cursor: pointer;

		&:hover {
      
       		  -webkit-transform: scale(1.2); 
       		  color:@text-general;
       		 
       
    	}
    	&:focus {
      
       		  color:@controller-active;
       		
       
    	}
	
}
.controlers-small
{
	.controlers;
	font-size: @medium!important;

}




.control-box {
    align-items: center;
    background: @background-inside none repeat scroll 0 0;
    display: flex;
    flex-flow: row wrap;
    padding:@padding-sm;
    border-bottom: @border-size-sm solid @border;
    color:@text-general;


    .glyphicon {
    	font-size: @x-large;
	}
    

}


.more-options-menu
{
	background-color: @background-inside;
	z-index:2;


	.text-menu-options
	{
		color:@text-general;
		font-size:@font-size-menu;
		&:hover
		{
			background-color:@border-hover-list;
			color:@text-general;
		}
	}

	
}


.disabled
{
	color: darken(@text-general, 50%)!important;

}

//footer


footer {
    position:relative;
    clear:both;
    height: @large-footer-size;
    display: flex;
	align-items: center;
    background-color: @header_footer;
    color:@text-general;
    align-items: center;
  	justify-content: center;
  	margin-top: @margin-lg;

 
}

